Dotchi/Dotchi/Bin/ServerControl1.pdb
Dotchi/ServerControl1/bin/Debug/ServerControl1.dll
Dotchi/ServerControl1/bin/Debug/ServerControl1.pdb
Dotchi/ServerControl1/obj/Debug/ServerControl1.dll
Dotchi/ServerControl1/obj/Debug/ServerControl1.pdb
Dotchi/Dotchi.suo
Dotchi/Dotchi/Bin/Dotchi.dll
Dotchi/Dotchi/Bin/Dotchi.pdb
Dotchi/Dotchi/Bin/ServerControl1.dll
Dotchi/Dotchi/Dotchi.csproj.user
Dotchi/Dotchi/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Dotchi/Dotchi/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Dotchi/Dotchi/obj/Debug/Dotchi.dll
Dotchi/Dotchi/obj/Debug/Dotchi.pdb
Dotchi/Dotchi/obj/Debug/ResolveAssemblyReference.cache
Dotchi/Dotchi.suo
Dotchi/Dotchi/Bin/ServerControl1.dll