Dotchi/Dotchi/bin/Dotchi.dll
Dotchi/Dotchi/bin/Dotchi.dll
Dotchi/Dotchi/bin/Dotchi.dll
Dotchi/Dotchi/bin/Dotchi.pdb
Dotchi/Dotchi/bin/Dotchi.pdb
Dotchi/Dotchi/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Dotchi/Dotchi/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Dotchi/Dotchi/obj/Debug/Dotchi.csprojResolveAssemblyReference.cache
Dotchi/Dotchi/obj/Debug/Dotchi.dll
Dotchi/Dotchi/obj/Debug/Dotchi.dpdb
Dotchi/Dotchi.suo
Dotchi/Dotchi/Dotchi.csproj.user
Dotchi/Dotchi/obj/Debug/Dotchi.csprojResolveAssemblyReference.cache
Dotchi/Dotchi/obj/Debug/Dotchi.pdb
Dotchi/Dotchi/obj/Debug/ResolveAssemblyReference.cache
Dotchi/Dotchi/obj/Debug/Dotchi.csproj.FileListAbsolute