@{
    ViewBag.Title = "Dotchi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="index" class="dotch">
	<div class="main">
		<h1>吃什麼，どっち</h1>
		<h2>讓朋友幫你決定吃什麼</h2>
		<div class="inputArea">
		  	<input type="text" placeholder="請輸入地區" />
		</div>
		<a href="#" class="button search"><span>尋找餐廳</span></a>
		<a href="#" class="button fb"><span>看看朋友吃什麼？</span></a>
	</div>
</div>
