body ,html {
    height: 100%;
    font-family: '微軟正黑體';
	font-size: 13px;
}

.dotch{
	position: relative;
	&:after{
		content:"";
		background:#d15d36;
		width: 100%;
		height: 10px;
		display:block;
		position: absolute;
		top: 0;
		left: 0;
	}
	&#index{
		// height: 100%;
		// background:url(../img/ba.jpg) no-repeat center top;
		// background-size:100% auto;
		.main{
			width: 960px;
			margin: 0 auto;
			padding: 50px 0px;
			text-align: center;
			h1{
				background:url(../img/h1.png) no-repeat;
				width: 280px;
				height: 261px;
				text-indent: -9999px;
				text-align: center;
				margin: 40px auto;
			}
			h2{
				font-size: 30px;
				color: #666;
				text-align: center;
			}
			.inputArea{
				width: 515px;
				margin: 30px auto;
				input {
				  width: 515px;
				  padding: 10px;
				  border: solid 1px #CCC;
				  outline: none;
				  border-radius: 5px;
				  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.05);
				  border-right-color: #EEE;
				  border-bottom-color: #EEE;
				  color: #999;
				}
			}
			.button{
				position: relative;
				padding: 10px 0px;
			  	width: 145px;
			  	display: inline-block;
			  	vertical-align: top;
				border-radius: 10px;
				color: #FFF;
				text-decoration: none;	
				transition: all 0.1s;
			}
			.button+.button{
				margin-left: 15px;
			}
			.search{
				background-color: #d15d36;
				border-bottom: 5px solid #a74a2b;
				text-shadow: 0px -2px #a74a2b;
				&:after{
					content:"";
					background:url(../img/index_search.png) no-repeat;
					display: block;
					position: absolute;
					width: 18px;
					height: 29px;
					top: 12px;
					left: 12px;
					background-size:50%;
				}
				span{
					font-size: 24px;
					display: block;
					height: 30px;
					margin: 2px 0px 0px 18px;
				}
			}
			.fb{
				background-color: #3b5998;
				border-bottom: 5px solid #2f477a;
				text-shadow: 0px -2px #2f477a;
				padding: 10px 0px 12px;
				&:after{
					content:"";
					background:url(../img/index_fb.png) no-repeat;
					display: block;
					position: absolute;
					width: 17px;
					height: 32px;
					top: 11px;
					left: 20px;
				}
				span{
					font-size: 16px;
					display: block;
					width: 70px;
					height: 30px;
					margin-left: 50px;
				}
			}
			.button:active{
				transform: translate(0px,5px);
				border-bottom: 1px solid;
			}
		}
	}
	&#page{
		.main{
			width: 960px;
			margin: 0 auto;
			padding: 30px 0px;
			h1{
				display: inline-block;
				vertical-align: top;
				margin-right: 15px;
				a{
					display: inline-block;
					background:url(../img/page_h1.png) no-repeat;
					width: 108px;
					height: 103px;
					text-indent: -9999px;
					background-size:100%;
					vertical-align: top;
				}
			}
			.inputArea{
				width: 600px;
				margin: 30px auto;
				display: inline-block;
				input {
				  width: 500px;
				  padding: 10px;
				  border: solid 1px #CCC;
				  outline: none;
				  border-radius: 5px;
				  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.05);
				  border-right-color: #EEE;
				  border-bottom-color: #EEE;
				  color: #999;
				  margin-right: 10px;
				}
			}
			.fbArea{
				margin: 30px auto;
				display: inline-block;
				vertical-align: top;
				.user{
					width: 34px;
					height: 34px;
					display: inline-block;
					vertical-align: top;
					img{
						border-radius: 5px;
						border: 3px solid #3b5998;
						width: 100%;
						height: 100%;
					}
				}
				.userName{
					position: relative;
					background: #3b5998;
					height: 31px;
					padding: 3px 10px;
					border-radius: 5px;
					display: inline-block;
					vertical-align: top;
					margin-left: 20px;
					color: #fff;
					&:after{
						content: "";
						background:url(../img/after.png) no-repeat;
						width: 9px;
						height: 16px;
						display: block;
						position: absolute;
						top: 50%;
						margin-top: -8px;
						left: -9px;
						background-size: 100%;
					}
				}
			}
			.button{
				position: relative;
				height: 36px;
			  	width: 40px;
			  	display: inline-block;
			  	vertical-align: top;
				border-radius: 5px;
				color: #FFF;
				text-decoration: none;	
				transition: all 0.1s;
			}
			.search{
				background-color: #d15d36;
				border-bottom: 3px solid #a74a2b;
				text-shadow: 0px -2px #a74a2b;
				background-size:50%;
				&:after{
					content:"";
					background:url(../img/index_search.png) no-repeat;
					display: block;
					position: absolute;
					width: 18px;
					height: 29px;
					top: 5px;
					left: 12px;
				}
				span{
					text-indent: -9999px;
					display:block;
				}
			}
			.fb{
				background-color: #3b5998;
				border-bottom: 3px solid #2f477a;
				text-shadow: 0px -2px #2f477a;
				&:before{
					content:"";
					background:url(../img/index_fb.png) no-repeat;
					display: block;
					position: absolute;
					width: 17px;
					height: 32px;
					top: 3px;
					left: 12px;
				}
				&:after{
					content:"";
					background:url(../img/fb_word.png) no-repeat;
					display: block;
					position: absolute;
					width: 102px;
					height: 55px;
					top: -8px;
					right: -110px;
					background-size:100%;
				}
				span{
					display: block;
					text-indent: -9999px;
				}
			}
			.button:active{
				transform: translate(0px,5px);
				border-bottom: 1px solid;
			}
			.content{
				padding-top: 40px;
				.left{
					width: 700px;
					float: left;
					.card{
						margin:0 auto;
						position: relative;
						margin-bottom: 100px;
						.ba{
							background: #fff9ed;
							border-radius: 5px;
							padding: 15px 25px;
							box-shadow:0 2px 5px rgba(0,0,0,.4);
							position: relative;
							z-index: 2;
						}
						.more{
							display: block;
							position: absolute;
							// background:url(../img/more_btn.png) no-repeat;
							background: #D15D36;
							width: 500px;
							height: 10px;
							padding: 50px 0 10px;
							// background-size:100%;
							bottom: -30px;
							left: 50%;
							margin-left: -250px;
							z-index: 1;
							color: #FFF;
							text-align: center;
							transition: all 0.1s;
							border-radius: 5px;
							text-decoration: none;	
							&:hover{
								bottom: -45px;
								transform: translate(0px,5px);
							}
						}
						.img{
							width: 160px;
							height: 160px;
							display: inline-block;
							background:url(../img/img_ba.png) no-repeat;
							background-size:100%;
							margin-right: 30px;
							vertical-align: top;
							img{
								width: 136px;
								height: 136px;
								margin-top: 12px;
								margin-left: 13px;
							}
						}
						.show{
							display: inline-block;
							vertical-align: top;
							h2{
								font-size: 20px;
								color: #d15d36;
								font-weight: bold;
								padding: 8px 0;
								a{
									color:#d15d36;
								}
							}
							ul{
								li{
									color: #888;
									margin: 10px 0;
									padding-left: 48px;
									font-size: 16px;
									position: relative;
									&>span{
										width:80px;
										display:inline-block;
										vertical-align:top;
									}
									.rating-bar{
										display:inline-block;
										vertical-align:top;
									}
									&.star{
										&:after{
											content: "";
											width: 30px;
											height: 28px;
											display: block;
											background:url(../img/icon_star.png) no-repeat;
											background-size:80%;
											position: absolute;
											top: -3px;
											left: 8px;
											opacity: .8;
										}
									}
									&.num{
										&:after{
											content: "";
											width: 18px;
											height: 24px;
											display: block;
											background:url(../img/icon_num.png) no-repeat;
											background-size:80%;
											position: absolute;
											top: 0px;
											left: 13px;
											opacity: .8;
										}
									}
									&.friend{
										&:after{
											content: "";
											width: 31px;
											height: 35px;
											display: block;
											background:url(../img/icon_friend.png) no-repeat;
											background-size:80%;
											position: absolute;
											top: 5px;
											left: 10px;
											opacity: .8;
										}
										&>span{
											width: 75px;
											display: inline-block;
											vertical-align: top;
										}
										.friendBtn{
											margin-top: 3px;
											position: relative;
											padding: 7px 0px;
			  								width: 120px;
										  	display: inline-block;
										  	vertical-align: top;
											border-radius: 5px;
											color: #FFF;
											text-decoration: none;	
											transition: all 0.1s;
											background-color: #3b5998;
											border-bottom: 3px solid #2f477a;
											text-shadow: 0px -2px #2f477a;
											text-indent: 40px;
											&:before{
												content:"";
												background:url(../img/index_fb.png) no-repeat;
												display: block;
												position: absolute;
												background-size:60%;
												width: 17px;
												height: 32px;
												top: 7px;
												left: 20px;
											}
											&:active{
												transform: translate(0px,5px);
												border-bottom: 1px solid;
											}
										}
										.friendList{
											display: inline-block;
											vertical-align: top;
											.friendItem{
												margin-left: 5px;
												display: inline-block;
												vertical-align: top;
												img{
													width: 40px;
													height: 40px;
													background-size: 100%;
												}
											}
										}
									}
									.rating{
										display: inline-block;
									}
								}
							}
						}
						.detail{
							display: none;
							height: 0;
							transition: all 0.1s;
							&.show{
								display: block;
								height: 100%;
								transform: translate(0px,5px);
							}
							h3{
								display:inline-block;
								vertical-align: top;
								font-size: 30px;
								color: #000;
								margin-right: 30px;
								width: 160px;
								text-indent: 10px;
							}
							.store{
								border-top:#dedede 1px dashed;
								border-bottom:#dedede 1px dashed;
								padding: 10px 0;
								margin: 20px 0;
								ul{
									display:inline-block;
									vertical-align: top;
									width: 400px;
									color: #888;
									li{
										margin: 5px 0;
										span{
											margin-left: 5px;
										}
										a{
											color: #d15d36;
											&:hover{
												color: #888;
											}
										}
									}
								}
							}
							.commentItem{
								h3{
									display:block;
									margin-bottom: 20px;
								}
								.comment{
									margin-bottom: 40px;
									.userInfo{
										margin: 10px 0 20px;
										margin-left: 15px;
										.userImage{
											width: 60px;
											height: 60px;
											margin-right: 20px;
											display: inline-block;
											vertical-align: top;
											border-radius:30px;
											img{
												width: 100%;
												height: 100%;
												border-radius:30px;
											}
										}
										.user{
											font-size: 18px;
											font-weight: bold;
											color: #d15d36;
											display: inline-block;
											vertical-align: top;
											width: 500px;
											margin: 5px;
											span{
												font-size: 13px;
												color: #888;
												display: block;
												margin-top: 5px;
											}
										}
									}
									.say{
										border:#d15d36 2px solid;
										border-radius: 5px;
										padding: 15px;
										position:relative;
										background:#fdfbf7;
										&:before{
											top:-18px; /* value = - border-top-width - border-bottom-width */
											bottom:auto;
											left:auto;
											left:20px; /* controls horizontal position */
											border-width:0 18px 18px;
											content:"";
											position:absolute;
											border-style:solid;
											border-color:#d15d36 transparent;
											/* reduce the damage in FF3.0 */
											display:block;
											width:0;
										}
										&:after{
											content:"";
											position:absolute;
											border-style:solid;
											border-color:#fff transparent;
											/* reduce the damage in FF3.0 */
											display:block;
											width:0;
											top:-15px; /* value = - border-top-width - border-bottom-width */
											bottom:auto;
											left:auto;
											left:23px; /* value = (:before right) + (:before border-right) - (:after border-right) */
											border-width:0 15px 15px;
										}
										.text{
											color: #888;
											padding: 10px 0;
										}
										.image{
											max-width: 100%;
											img{
												max-width: 100%;
											}
										}
									}
								}
								.commentMore{
									padding: 10px 0px;
									margin: 20px 0;
									display: block;
									border-radius: 10px;
									color: #FFF;
									text-decoration: none;	
									transition: all 0.1s;
									background-color: #d15d36;
									border-bottom: 3px solid #a74a2b;
									text-shadow: 0px -2px #a74a2b;
									text-align: center;
									text-decoration: none;	
									&:active{
										transform: translate(0px,5px);
										border-bottom: 1px solid;
									}
								}
							}
						}
					}
				}
				.right{
					float: left;
					margin-left: 30px;
					position: relative;
					.tagLst{
						position: fixed;
						li{
							a{
								color: #d15d36;
								font-size: 18px;
								font-weight: bold;
								display: block;
								padding: 5px;
								text-decoration: none;	
								&:hover{
									color: #555;
								}
							}
						}
					}
				}
			}
		}
	}
}
