<!doctype html>
@{
    ViewBag.Title = "吃什麼，どっち - 讓朋友幫你決定吃什麼";
    ViewBag.Description = "吃什麼，どっち - 讓朋友幫你決定吃什麼";
    ViewBag.Cover = "";
}
<html>
<head>
<meta charset="utf-8">
<title>@(ViewBag.Title)</title>
<meta name="description" content="@(ViewBag.Description)" />
<link rel="Shortcut Icon" type="image/x-icon" href="/Content/dotchi/img/favicon.ico">
<link rel="stylesheet" href="/Content/common/css/reset-font-min.css">
<link rel="stylesheet" href="/Content/common/css/clearfix.css">
<link rel="stylesheet" href="/Content/dotchi/css/basic.css">
<link rel="stylesheet" href="/Content/dotchi/css/style.css">
</head>
<body>
@RenderBody()
<script src="/Content/common/js/jquery-1.8.2.min.js"></script>
<script src="/Content/common/js/facebook.js" data-appid=1399777113657271></script>
<script src="/Content/common/js/jquery.cookie.js"></script>
<script src="/Content/common/js/jquery.fd.rating.js"></script>
<script src="/Content/dotchi/js/script.js"></script>
</body>
</html>
