<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>吃什麼，どっち - 讓朋友幫你決定吃什麼</title>
@*<link rel="stylesheet" href="css/reset-font-min.css">
<link rel="stylesheet" href="css/clearfix.css">
<link rel="stylesheet" href="css/style.css">
*@
</head>
<body>
    @RenderBody()
@*
<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="js/script.js"></script>
*@
</body>
</html>
