body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../guest_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:718px;
    top:100px;
    width:247px;
    height:395px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:253px;
    height:401px;
}

.u1 {
    position:absolute;
    left:2px;
    top:190px;
    width:243px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:48px;
    top:28px;
    width:451px;
    height:44px;
    ;
    ;
    text-align: left;;
    font-family:'微軟正黑體';
    font-size: 30px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u3 {
    position:absolute;
    left:526px;
    top:28px;
    width:182px;
    height:44px;
    ;
    ;
    text-align: center;;
    font-family:'微軟正黑體';
    font-size: 20px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4_normal {
    background-image: url('../guest_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:734px;
    top:28px;
    width:51px;
    height:51px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:51px;
}

.u5 {
    position:absolute;
    left:2px;
    top:18px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../guest_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:804px;
    top:32px;
    width:155px;
    height:44px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:50px;
}

.u7 {
    position:absolute;
    left:2px;
    top:5px;
    width:151px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../guest_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:779px;
    top:32px;
    width:25px;
    height:32px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:38px;
}

.u9 {
    position:absolute;
    left:2px;
    top:8px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:725px;
    top:115px;
    width:253px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:730px;
    top:455px;
    width:253px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:755px;
    top:156px;
    width:146px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:755px;
    top:189px;
    width:204px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:755px;
    top:222px;
    width:204px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:755px;
    top:255px;
    width:204px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:755px;
    top:321px;
    width:204px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:755px;
    top:288px;
    width:204px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:755px;
    top:354px;
    width:204px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:755px;
    top:387px;
    width:272px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:755px;
    top:420px;
    width:272px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../guest_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:48px;
    top:100px;
    width:660px;
    height:227px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:666px;
    height:233px;
}

.u22 {
    position:absolute;
    left:2px;
    top:106px;
    width:656px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../guest_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:76px;
    top:128px;
    width:185px;
    height:185px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:191px;
    height:191px;
}

.u24 {
    position:absolute;
    left:2px;
    top:80px;
    width:181px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:290px;
    top:128px;
    width:418px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:297px;
    top:163px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../guest_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:369px;
    top:156px;
    width:30px;
    height:30px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u28 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../guest_files/u27_normal.png');
}

.u29_container {
    position:absolute;
    left:396px;
    top:156px;
    width:30px;
    height:30px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u30 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../guest_files/u27_normal.png');
}

.u31_container {
    position:absolute;
    left:424px;
    top:156px;
    width:30px;
    height:30px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u32 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../guest_files/u27_normal.png');
}

.u33_container {
    position:absolute;
    left:451px;
    top:156px;
    width:30px;
    height:30px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u34 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:320px;
    top:194px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:297px;
    top:222px;
    width:150px;
    height:50px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../guest_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:389px;
    top:222px;
    width:291px;
    height:52px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:52px;
}

.u38 {
    position:absolute;
    left:2px;
    top:18px;
    width:287px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../guest_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:479px;
    top:156px;
    width:30px;
    height:30px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u40 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../guest_files/u21_normal.png');
}

.u41_container {
    position:absolute;
    left:48px;
    top:354px;
    width:660px;
    height:227px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:666px;
    height:233px;
}

.u42 {
    position:absolute;
    left:2px;
    top:106px;
    width:656px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../guest_files/u23_normal.png');
}

.u43_container {
    position:absolute;
    left:76px;
    top:382px;
    width:185px;
    height:185px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:191px;
    height:191px;
}

.u44 {
    position:absolute;
    left:2px;
    top:80px;
    width:181px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:290px;
    top:382px;
    width:418px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:297px;
    top:417px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../guest_files/u27_normal.png');
}

.u47_container {
    position:absolute;
    left:369px;
    top:410px;
    width:30px;
    height:30px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u48 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../guest_files/u27_normal.png');
}

.u49_container {
    position:absolute;
    left:396px;
    top:410px;
    width:30px;
    height:30px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u50 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../guest_files/u27_normal.png');
}

.u51_container {
    position:absolute;
    left:424px;
    top:410px;
    width:30px;
    height:30px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u52 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../guest_files/u27_normal.png');
}

.u53_container {
    position:absolute;
    left:451px;
    top:410px;
    width:30px;
    height:30px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u54 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:320px;
    top:448px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:297px;
    top:476px;
    width:150px;
    height:50px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../guest_files/u37_normal.png');
}

.u57_container {
    position:absolute;
    left:389px;
    top:476px;
    width:291px;
    height:52px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:52px;
}

.u58 {
    position:absolute;
    left:2px;
    top:18px;
    width:287px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../guest_files/u39_normal.png');
}

.u59_container {
    position:absolute;
    left:479px;
    top:410px;
    width:30px;
    height:30px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u60 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../guest_files/u21_normal.png');
}

.u61_container {
    position:absolute;
    left:48px;
    top:605px;
    width:660px;
    height:227px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:666px;
    height:233px;
}

.u62 {
    position:absolute;
    left:2px;
    top:106px;
    width:656px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../guest_files/u23_normal.png');
}

.u63_container {
    position:absolute;
    left:76px;
    top:633px;
    width:185px;
    height:185px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:191px;
    height:191px;
}

.u64 {
    position:absolute;
    left:2px;
    top:80px;
    width:181px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:290px;
    top:633px;
    width:418px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:297px;
    top:668px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../guest_files/u27_normal.png');
}

.u67_container {
    position:absolute;
    left:369px;
    top:661px;
    width:30px;
    height:30px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u68 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../guest_files/u27_normal.png');
}

.u69_container {
    position:absolute;
    left:396px;
    top:661px;
    width:30px;
    height:30px;
}

#u69_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u70 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../guest_files/u27_normal.png');
}

.u71_container {
    position:absolute;
    left:424px;
    top:661px;
    width:30px;
    height:30px;
}

#u71_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u72 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../guest_files/u27_normal.png');
}

.u73_container {
    position:absolute;
    left:451px;
    top:661px;
    width:30px;
    height:30px;
}

#u73_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u74 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:320px;
    top:699px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:297px;
    top:727px;
    width:150px;
    height:50px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../guest_files/u37_normal.png');
}

.u77_container {
    position:absolute;
    left:389px;
    top:727px;
    width:291px;
    height:52px;
}

#u77_img {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:52px;
}

.u78 {
    position:absolute;
    left:2px;
    top:18px;
    width:287px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../guest_files/u39_normal.png');
}

.u79_container {
    position:absolute;
    left:479px;
    top:661px;
    width:30px;
    height:30px;
}

#u79_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u80 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../guest_files/u21_normal.png');
}

.u81_container {
    position:absolute;
    left:48px;
    top:866px;
    width:660px;
    height:227px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:666px;
    height:233px;
}

.u82 {
    position:absolute;
    left:2px;
    top:106px;
    width:656px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../guest_files/u23_normal.png');
}

.u83_container {
    position:absolute;
    left:76px;
    top:894px;
    width:185px;
    height:185px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:191px;
    height:191px;
}

.u84 {
    position:absolute;
    left:2px;
    top:80px;
    width:181px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:290px;
    top:894px;
    width:418px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:298px;
    top:929px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../guest_files/u27_normal.png');
}

.u87_container {
    position:absolute;
    left:370px;
    top:922px;
    width:30px;
    height:30px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u88 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../guest_files/u27_normal.png');
}

.u89_container {
    position:absolute;
    left:396px;
    top:922px;
    width:30px;
    height:30px;
}

#u89_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u90 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../guest_files/u27_normal.png');
}

.u91_container {
    position:absolute;
    left:424px;
    top:922px;
    width:30px;
    height:30px;
}

#u91_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u92 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:319px;
    top:960px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:298px;
    top:988px;
    width:150px;
    height:50px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../guest_files/u37_normal.png');
}

.u95_container {
    position:absolute;
    left:390px;
    top:988px;
    width:291px;
    height:52px;
}

#u95_img {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:52px;
}

.u96 {
    position:absolute;
    left:2px;
    top:18px;
    width:287px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../guest_files/u39_normal.png');
}

.u97_container {
    position:absolute;
    left:480px;
    top:922px;
    width:30px;
    height:30px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u98 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../guest_files/u21_normal.png');
}

.u99_container {
    position:absolute;
    left:48px;
    top:1125px;
    width:660px;
    height:227px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:666px;
    height:233px;
}

.u100 {
    position:absolute;
    left:2px;
    top:106px;
    width:656px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../guest_files/u23_normal.png');
}

.u101_container {
    position:absolute;
    left:76px;
    top:1153px;
    width:185px;
    height:185px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:191px;
    height:191px;
}

.u102 {
    position:absolute;
    left:2px;
    top:80px;
    width:181px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:290px;
    top:1153px;
    width:418px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:297px;
    top:1188px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../guest_files/u27_normal.png');
}

.u105_container {
    position:absolute;
    left:369px;
    top:1181px;
    width:30px;
    height:30px;
}

#u105_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u106 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../guest_files/u27_normal.png');
}

.u107_container {
    position:absolute;
    left:396px;
    top:1181px;
    width:30px;
    height:30px;
}

#u107_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u108 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:318px;
    top:1219px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:297px;
    top:1247px;
    width:150px;
    height:50px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../guest_files/u37_normal.png');
}

.u111_container {
    position:absolute;
    left:389px;
    top:1247px;
    width:291px;
    height:52px;
}

#u111_img {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:52px;
}

.u112 {
    position:absolute;
    left:2px;
    top:18px;
    width:287px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../guest_files/u39_normal.png');
}

.u113_container {
    position:absolute;
    left:479px;
    top:1181px;
    width:30px;
    height:30px;
}

#u113_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u114 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../guest_files/u39_normal.png');
}

.u115_container {
    position:absolute;
    left:424px;
    top:1181px;
    width:30px;
    height:30px;
}

#u115_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u116 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../guest_files/u39_normal.png');
}

.u117_container {
    position:absolute;
    left:451px;
    top:1181px;
    width:30px;
    height:30px;
}

#u117_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u118 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../guest_files/u39_normal.png');
}

.u119_container {
    position:absolute;
    left:452px;
    top:922px;
    width:30px;
    height:30px;
}

#u119_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u120 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../guest_files/u121_normal.png');
}

.u121_container {
    position:absolute;
    left:290px;
    top:187px;
    width:30px;
    height:30px;
}

#u121_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u122 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_normal {
    background-image: url('../guest_files/u121_normal.png');
}

.u123_container {
    position:absolute;
    left:290px;
    top:441px;
    width:30px;
    height:30px;
}

#u123_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u124 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../guest_files/u121_normal.png');
}

.u125_container {
    position:absolute;
    left:290px;
    top:694px;
    width:30px;
    height:30px;
}

#u125_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u126 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../guest_files/u121_normal.png');
}

.u127_container {
    position:absolute;
    left:291px;
    top:954px;
    width:30px;
    height:30px;
}

#u127_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u128 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../guest_files/u121_normal.png');
}

.u129_container {
    position:absolute;
    left:290px;
    top:1212px;
    width:30px;
    height:30px;
}

#u129_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u130 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:623px;
    top:292px;
    width:85px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:623px;
    top:549px;
    width:85px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:623px;
    top:805px;
    width:85px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:623px;
    top:1062px;
    width:85px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:623px;
    top:1318px;
    width:85px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u136 {
    position:absolute;
    left:48px;
    top:103px;
    width:660px;
    height:224px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u137_normal {
    background-image: url('../guest_files/u137_normal.png');
}

.u137_container {
    position:absolute;
    left:297px;
    top:220px;
    width:391px;
    height:54px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:397px;
    height:60px;
}

.u138 {
    position:absolute;
    left:2px;
    top:4px;
    width:387px;
    height:46px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u139 {
    position:absolute;
    left:48px;
    top:357px;
    width:660px;
    height:224px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u140_normal {
    background-image: url('../guest_files/u140_normal.png');
}

.u140_container {
    position:absolute;
    left:297px;
    top:474px;
    width:391px;
    height:65px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:397px;
    height:71px;
}

.u141 {
    position:absolute;
    left:2px;
    top:10px;
    width:387px;
    height:46px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u142 {
    position:absolute;
    left:48px;
    top:606px;
    width:660px;
    height:224px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u143_normal {
    background-image: url('../guest_files/u143_normal.png');
}

.u143_container {
    position:absolute;
    left:297px;
    top:725px;
    width:391px;
    height:70px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:397px;
    height:76px;
}

.u144 {
    position:absolute;
    left:2px;
    top:12px;
    width:387px;
    height:46px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u145 {
    position:absolute;
    left:48px;
    top:869px;
    width:660px;
    height:224px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u146_normal {
    background-image: url('../guest_files/u146_normal.png');
}

.u146_container {
    position:absolute;
    left:298px;
    top:986px;
    width:391px;
    height:66px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:397px;
    height:72px;
}

.u147 {
    position:absolute;
    left:2px;
    top:10px;
    width:387px;
    height:46px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u148 {
    position:absolute;
    left:48px;
    top:1125px;
    width:660px;
    height:224px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u149_normal {
    background-image: url('../guest_files/u149_normal.png');
}

.u149_container {
    position:absolute;
    left:297px;
    top:1245px;
    width:391px;
    height:63px;
}

#u149_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:397px;
    height:69px;
}

.u150 {
    position:absolute;
    left:2px;
    top:8px;
    width:387px;
    height:46px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

