body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../guest_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:38px;
    top:90px;
    width:660px;
    height:778px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:666px;
    height:784px;
}

.u1 {
    position:absolute;
    left:2px;
    top:381px;
    width:656px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../guest_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:79px;
    top:118px;
    width:185px;
    height:185px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:191px;
    height:191px;
}

.u3 {
    position:absolute;
    left:2px;
    top:84px;
    width:181px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:280px;
    top:118px;
    width:418px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:287px;
    top:153px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../guest_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:459px;
    top:146px;
    width:30px;
    height:30px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u7 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../guest_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:352px;
    top:146px;
    width:30px;
    height:30px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u9 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../guest_files/u8_normal.png');
}

.u10_container {
    position:absolute;
    left:379px;
    top:146px;
    width:30px;
    height:30px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u11 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../guest_files/u8_normal.png');
}

.u12_container {
    position:absolute;
    left:406px;
    top:146px;
    width:30px;
    height:30px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u13 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../guest_files/u8_normal.png');
}

.u14_container {
    position:absolute;
    left:432px;
    top:146px;
    width:30px;
    height:30px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u15 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:38px;
    top:18px;
    width:451px;
    height:44px;
    ;
    ;
    text-align: left;;
    font-family:'微軟正黑體';
    font-size: 30px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17 {
    position:absolute;
    left:287px;
    top:184px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:287px;
    top:213px;
    width:354px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:287px;
    top:243px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:287px;
    top:272px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:79px;
    top:444px;
    width:150px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../guest_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:166px;
    top:435px;
    width:134px;
    height:59px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:134px;
    height:59px;
}

.u23 {
    position:absolute;
    left:2px;
    top:22px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../guest_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:170px;
    top:494px;
    width:471px;
    height:62px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:471px;
    height:62px;
}

.u25 {
    position:absolute;
    left:2px;
    top:23px;
    width:467px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../guest_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:179px;
    top:556px;
    width:240px;
    height:213px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:240px;
    height:213px;
}

.u27 {
    position:absolute;
    left:2px;
    top:98px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../guest_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:186px;
    top:797px;
    width:439px;
    height:45px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:445px;
    height:51px;
}

.u29 {
    position:absolute;
    left:2px;
    top:10px;
    width:435px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:79px;
    top:329px;
    width:150px;
    height:50px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../guest_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:179px;
    top:381px;
    width:291px;
    height:35px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:35px;
}

.u32 {
    position:absolute;
    left:2px;
    top:10px;
    width:287px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../guest_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:171px;
    top:329px;
    width:291px;
    height:52px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:52px;
}

.u34 {
    position:absolute;
    left:2px;
    top:18px;
    width:287px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_line {
    background-image: url('../guest_files/u35_line.png');
}

.u35_line {
    position:absolute;
    left:0px;
    top:4px;
    width:546px;
    height:3px;
}

.u35 {
    position:absolute;
    left:79px;
    top:424px;
    width:546px;
    height:10px;
    
}

.u36_normal {
    background-image: url('../guest_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:79px;
    top:321px;
    width:545px;
    height:93px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:551px;
    height:99px;
}

.u37 {
    position:absolute;
    left:2px;
    top:24px;
    width:541px;
    height:46px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:715px;
    top:105px;
    width:253px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../guest_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:694px;
    top:109px;
    width:11px;
    height:19px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:17px;
    height:25px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:745px;
    top:146px;
    width:146px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:745px;
    top:179px;
    width:204px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:745px;
    top:212px;
    width:204px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:745px;
    top:245px;
    width:204px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:745px;
    top:311px;
    width:204px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:745px;
    top:278px;
    width:204px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:745px;
    top:344px;
    width:204px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:745px;
    top:377px;
    width:272px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:745px;
    top:410px;
    width:272px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../guest_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:724px;
    top:150px;
    width:11px;
    height:19px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:17px;
    height:25px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../guest_files/u50_normal.png');
}

.u52_container {
    position:absolute;
    left:724px;
    top:183px;
    width:11px;
    height:19px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:17px;
    height:25px;
}

.u53 {
    position:absolute;
    left:2px;
    top:2px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../guest_files/u50_normal.png');
}

.u54_container {
    position:absolute;
    left:724px;
    top:216px;
    width:11px;
    height:19px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:17px;
    height:25px;
}

.u55 {
    position:absolute;
    left:2px;
    top:2px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../guest_files/u50_normal.png');
}

.u56_container {
    position:absolute;
    left:724px;
    top:249px;
    width:11px;
    height:19px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:17px;
    height:25px;
}

.u57 {
    position:absolute;
    left:2px;
    top:2px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../guest_files/u50_normal.png');
}

.u58_container {
    position:absolute;
    left:724px;
    top:281px;
    width:11px;
    height:19px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:17px;
    height:25px;
}

.u59 {
    position:absolute;
    left:2px;
    top:2px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../guest_files/u50_normal.png');
}

.u60_container {
    position:absolute;
    left:724px;
    top:314px;
    width:11px;
    height:19px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:17px;
    height:25px;
}

.u61 {
    position:absolute;
    left:2px;
    top:2px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../guest_files/u50_normal.png');
}

.u62_container {
    position:absolute;
    left:724px;
    top:347px;
    width:11px;
    height:19px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:17px;
    height:25px;
}

.u63 {
    position:absolute;
    left:2px;
    top:2px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../guest_files/u50_normal.png');
}

.u64_container {
    position:absolute;
    left:724px;
    top:380px;
    width:11px;
    height:19px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:17px;
    height:25px;
}

.u65 {
    position:absolute;
    left:2px;
    top:2px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../guest_files/u50_normal.png');
}

.u66_container {
    position:absolute;
    left:724px;
    top:413px;
    width:11px;
    height:19px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:17px;
    height:25px;
}

.u67 {
    position:absolute;
    left:2px;
    top:2px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:720px;
    top:445px;
    width:253px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:516px;
    top:18px;
    width:182px;
    height:44px;
    ;
    ;
    text-align: center;;
    font-family:'微軟正黑體';
    font-size: 20px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u70_normal {
    background-image: url('../guest_files/u70_normal.png');
}

.u70_container {
    position:absolute;
    left:724px;
    top:18px;
    width:51px;
    height:51px;
}

#u70_img {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:51px;
}

.u71 {
    position:absolute;
    left:2px;
    top:18px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../guest_files/u72_normal.png');
}

.u72_container {
    position:absolute;
    left:794px;
    top:22px;
    width:155px;
    height:44px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:50px;
}

.u73 {
    position:absolute;
    left:2px;
    top:5px;
    width:151px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../guest_files/u74_normal.png');
}

.u74_container {
    position:absolute;
    left:769px;
    top:22px;
    width:25px;
    height:32px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:38px;
}

.u75 {
    position:absolute;
    left:2px;
    top:8px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

